@import 'vars';

:root {
    --base-color: #5eb141;
    --base-highlight-color: #91e971;
    --highlight-color: rgba(17, 17, 17, 0.7);
}

html, body {
    font-family: $custom-font;
}

.x-toolbar.nav .x-button {
    color: #999;
    font-size: 11px;
    .x-text-el { text-transform: uppercase; }
    .x-icon-el { color: #999; }
    &.x-hovered { color: #FFF; .x-icon-el { color: #FFF; } }
}
.x-button {
    .x-text-el { text-transform: none; }
}

.x-menucheckitem .x-body-el {
    height: 28px;
}

.x-menu .x-mask {
    background-color: #FFF;
}

.cond {
    padding: 0 !important;
    div {
        font-family: 'Roboto Condensed';
        display: inline-block;
        overflow: hidden;
        // background: #C9D8D5;
        // padding: 3px 5px;
        margin-right: 10px;
        // border-radius: 3px;
        span {
            display: inline-block;
            padding: 3px 10px;
            // line-height: 24px;
            // height: 24px;
        }

        .type {
            background-color: #E6E6E6;
            border-radius: 3px 0 0 3px;
            border: 1px #D4D4D4 solid;
            // box-shadow: 0 0 1px rgba(0, 0, 0, 0.9) inset;
        }

        .invert {
            // background-color: #BFBFBF;
            background-color: #FFF;
            // border: 1px #BFBFBF solid;
            font-weight: 600;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            position: relative;
            z-index: 1;
            color: #555;
        }

        .value {
            // background-color: #ad3;
            // background-color: #C7C7C7;
            background-color: #d4e6cd;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }

        .bool-yes {
            // background-color: #ad3;
            background-color: #FFF;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }
        .bool-no {
            // background-color: #fbe27f;
            background-color: #FFF;
            font-weight: 600;
            border-radius: 0 3px 3px 0;
            border: 1px #d4d4d4 solid;
        }

    }
}

.invalid-cell::after {
    content: '';
    // background: red;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 0;
    height: 2px;
    border-top: 2px #F95821 solid;
}

.x-treelist-item-icon.tree {
    width: 20px;
    height: 20px;
    margin: 4px 0 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    &.network { background-image: url('/skins/modern-rack/images/admin/config/icon_config_network.png'); }
    &.administration { background-image: url('/skins/modern-rack/images/admin/config/icon_config_administration.png'); }
    &.events { background-image: url('/skins/modern-rack/images/admin/config/icon_config_events.png'); }
    &.email { background-image: url('/skins/modern-rack/images/admin/config/icon_config_email.png'); }
    &.directory { background-image: url('/skins/modern-rack/images/admin/config/icon_config_directory.png'); }
    &.system { background-image: url('/skins/modern-rack/images/admin/config/icon_config_system.png'); }
    &.upgrade { background-image: url('/skins/modern-rack/images/admin/config/icon_config_upgrade.png'); }
    &.about { background-image: url('/skins/modern-rack/images/admin/config/icon_config_about.png'); }
}

.x-gridcell-body-el em {
    color: #999;
}

.x-treelist-nav {
    .x-treelist-row {
        padding-left: 16px;
        padding-right: 8px;
    }
    .x-treelist-item-text {
        line-height: 28px;
        margin-left: 30px;
        font-size: 14px;
        font-weight: 600;
    }
    .x-treelist-item-expander {
        line-height: 28px;
        &::after {
            line-height: 28px !important;
        }
    }
    .x-treelist-item-icon:before {
        line-height: 28px !important;
        font-size: 16px;
    }
    // .x-treelist-item-expanded > * > * > .x-treelist-item-expander::after {
    //     line-height: 28px !important;
    // }
}

.x-treelist-item-selected {
    background: #EEE;
}

// .x-gridcell-body-el {
//     padding: 6px;
// }
// .x-gridcell-tool-dock > .x-body-el {
//     padding: 6px 0;
// }

// .x-gridcell {
//     // vertical-align: top;
// }



.x-grid-events {
    .x-gridcell {
        font: 400 11px/11px Roboto, sans-serif;
    }
    .x-gridcell-body-el {
        padding: 8px 12px;
    }
    .x-gridcolumn-title-wrap-el {
        padding: 8px 12px;
        line-height: 1;
    }
}

.x-gridcolumn-title-wrap-el {
    font-weight: 600;
}

.x-rownumberercell {
    background: rgba(200, 200, 200, 0.3);
    border-right: 1px #CCC solid;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
}






.x-nav {
    .x-gridcell {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        color: #555;
    }
    .x-body-el {
        padding: 3px 0;
    }

    .x-treecell .x-icon-el {
        color: #777;
        width: 16px;
        height: 16px;
        padding: 1px 0;
        &:before {
            font-size: 14px;
        }
    }
    .x-icon-el {
        width: 16px;
        height: 16px;
        // margin: 4px 0 0 0;
        background-size: contain;
        background-repeat: no-repeat;
        &.network { background-image: url('/skins/modern-rack/images/admin/config/icon_config_network.png'); }
        &.administration { background-image: url('/skins/modern-rack/images/admin/config/icon_config_administration.png'); }
        &.events { background-image: url('/skins/modern-rack/images/admin/config/icon_config_events.png'); }
        &.email { background-image: url('/skins/modern-rack/images/admin/config/icon_config_email.png'); }
        &.directory { background-image: url('/skins/modern-rack/images/admin/config/icon_config_directory.png'); }
        &.system { background-image: url('/skins/modern-rack/images/admin/config/icon_config_system.png'); }
        &.upgrade { background-image: url('/skins/modern-rack/images/admin/config/icon_config_upgrade.png'); }
        &.about { background-image: url('/skins/modern-rack/images/admin/config/icon_config_about.png'); }
    }
}
