@import 'vars';

:root {
    --base-color: #5eb141;
    --base-highlight-color: #91e971;
    --highlight-color: rgba(17, 17, 17, 0.7);
}

html, body {
    font-family: $custom-font;
}

.x-toolbar.nav .x-button {
    color: #999;
    font-size: 11px;
    .x-text-el { text-transform: uppercase; }
    .x-icon-el { color: #999; }
    &.x-hovered { color: #FFF; .x-icon-el { color: #FFF; } }
}
.x-button {
    .x-text-el { text-transform: none; }
}

.x-menucheckitem .x-body-el {
    height: 24px;
}

.x-menu .x-mask {
    background-color: #FFF;
}
// .x-gridcell-body-el {
//     padding: 6px;
// }
// .x-gridcell-tool-dock > .x-body-el {
//     padding: 6px 0;
// }

// .x-gridcell {
//     // vertical-align: top;
// }
